body {
  color: black; }

h1 {
  font-weight: 400;
  text-align: inherit; }

ul li {
  padding: 10px 0; }

header, footer {
  background: linear-gradient(to left, #9ea4ec, #bc55bd);
  color: white; }

main > section {
  line-height: 1.5rem;
  padding: 10px 11rem 20px; }
  main > section img {
    max-width: 100%; }
  main > section.project-info .tech ul {
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    padding: 0; }
    main > section.project-info .tech ul li {
      list-style-type: none;
      padding: 5px 0;
      flex: 25%; }
  main > section.next-previous {
    padding: 20px;
    font-size: 18px; }
  main > section:nth-child(even) {
    background: #ebeaef; }
  main > section.minimal-padding {
    padding: 10px 50px 20px;
    text-align: center; }
  main > section.masonry-images {
    text-align: center;
    line-height: 0;
    padding: 0; }
    main > section.masonry-images img {
      width: 75%; }

.header-flex {
  display: flex;
  padding: 4rem 1rem;
  flex-flow: row wrap;
  justify-content: center; }

img.laptop {
  max-width: 743px;
  width: 50%;
  align-self: center; }

.assessment-pictures img {
  width: 40%; }

.work-videos {
  text-align: center; }
  .work-videos h2 {
    text-align: left; }
  .work-videos p {
    display: inline-block;
    width: 560px; }

.about {
  flex-basis: 40%;
  padding-left: 2rem;
  transform: translateY(30%); }
  .about .company h1 {
    margin-top: 0;
    margin-bottom: 0; }
  .about .company p {
    font-family: 'Ubuntu Mono', monospace; }

.flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around; }
  .flex.next-previous {
    background: #e9e1ff; }
    .flex.next-previous a:first-child {
      flex: auto; }

@media (min-width: 0px) and (max-width: 765px) {
  main > section {
    padding: 10px 25px; }
    main > section.project-info .tech ul li {
      flex: 50%; }
  .about {
    flex-basis: 100%;
    transform: translateY(30%); }
  .tech, .role {
    font-size: 16px; }
  .about {
    padding-left: 0; }
  img.laptop {
    width: 100%; }
  .work-videos p {
    width: 75%; } }
