body {
  color: black;
}

header,
footer {
  background: linear-gradient(to left, #0d0e1d, #bc55bd);
  color: white;
}

main > section {
  line-height: 1.5rem;
  padding: 10px 6rem;
}

.flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.about {
  margin-top: 3rem;
  flex: 50%;
  padding-right: 40px;

  & + figure {
    flex: 30%;
    margin: 15% 0 0;
    text-align: center;

    img {
      width: 100%;
      max-width: 300px;
    }

    figcaption {
      font-size: 14px;
      line-height: 28px;
      margin-top: 0.4rem;
    }
  }
}

@media (min-width: 0px) and (max-width: 765px) {
  main > section {
    padding: 10px 25px;
  }
  .about,
  .about + figure {
    flex: 100%;
  }

  .about + figure {
    margin-top: 20px;
  }
}
