// TODO: Fix job images when wide

@keyframes dotsAnimation {
  from { opacity: 0; }
  to { opacity: 100%; }
}

%12-grid {
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: repeat(12, 1fr);
}

%full-width {
  grid-column: 1 / 13;
}

body {
  background: linear-gradient(#9729B3, #0B0275);
}

section:not(#projects){
  margin: 2rem 2.78rem; // 50px
  p {
    margin-top: 0;
  }
}

main > section {
  @extend %12-grid;

  h2, h3 { text-align: center; }
  h2 {
    grid-column: 1 / 13;
    margin-bottom: 1.5rem;
   }
}

button, .btn {
  display: block;
  margin: 1rem auto;
  border-radius: 40px;
  color: white;
  background: #ff3f60;
  border: 3px solid transparent;
  padding: .5rem 1rem;
  font-size: .9rem;
  width: 4.5rem;
  position: relative;
  &:before {
    content: " ";
    position: absolute;
    border-radius: 40px;
    z-index: -1;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    border: 3px solid #ff3f60;
  }
  &:hover {
    cursor: pointer;
  }
  &:active {
    background: #f7879a;
    &:before {
        border-color: #f7879a;
    }
  }
  &:focus {
    outline: 0;
  }
}

header {
  margin: 0 2.78rem; // 50px  // grid-row: 1;
  // @extend %12-grid;
  text-align: center;
  h1 {
    margin: 5% 0;
  }

  nav {
    background-color: transparent;
  }

  .circular-img {
    max-width: 205px;
    margin: 0 auto;
  }
  .summary {
    font-size: 1.33rem; // 24px
    line-height: 2rem;
    text-align: center;
  }
  .socials {
    margin: 1.67rem auto; // 30px

    svg {
      width: 2.22rem; // 40px
      fill: white;
      transition: all .25s cubic-bezier(0, 0.29, 1, 1.5);
      &:hover {
        fill: #feffa9;
        transform: scale(1.1);
        cursor: pointer;
      }
    }
  }
}

#projects {
  grid-gap: 0px;
  grid-template-rows: repeat(5, 1fr);
  h2 {
    grid-row: 1 / 2;
  }
  h3 {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 1.8rem;
    margin: .5rem;
  }
  .project-subhead {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 1rem;

  }
  .project-about {
    font-size: 1.15rem;
    line-height: 1.7rem;
  }

  & > div {
    padding: 1rem;
    text-align: center;
    position: relative;
    z-index: 0;
    .bg-overlay {
    	position: absolute;
    	top: -1px;
    	right: 0;
    	bottom: 0;
    	left: 0;
    	background-image: linear-gradient(to bottom right, #0043ff, #c700697d);
    	opacity: .6;
      z-index: -1;
    }
    &:hover {
        .bg-overlay {
        background-image: linear-gradient(to bottom, #0046ff, #ff0087a3);
      }
    }
    .content {
      z-index: 1;
    }
    &:nth-child(even){
      grid-column: 1 / 7;

    }
    &:nth-child(odd){
      grid-column: 7 / 13;
    }
    &.bloc {
      background: url('../assets/bloc-bg.png');
      grid-row: 2 / 4;
    }
    &.sportsrocket {
      background: url('../assets/sportsrocket-bg.png') center -100px;
      grid-row: 2 / 4;
    }
    &.autoloop {
      background: url('../assets/autoloop-bg.png') center;
      grid-row: 4 / 6;
    }
    &.usf {
      background: url('../assets/usf-bg.png') left;
      grid-row: 4 / 6;
    }
  }
}

#skills {
  .tools {
    grid-column: 3 / 7;
  }
  .technologies {
    grid-column: 7 / 11;
  }
  .tools ul.columns, .technologies ul.columns {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 180px;
    list-style-type: none;
    padding: 0;
    margin: 0;

  }
  .skills-about {
    grid-column: 1 / 8;
    margin-top: 3rem;

    & + figure {
      grid-column: 9 / 13;
      margin: 3rem 0 0;
      text-align: center;
      img {
        width: 20rem; // 360px;
      }
      figcaption {
        font-size: 0.78rem; // 14px
        line-height: 1.167rem; // 21px
        margin-top: 0.4rem; // 8px
      }
    }
  }
}

.endorsements > * {
  grid-column: 1 / 13;
}

.endorsements {
  .author {
    text-align: center;
  }
}

#chat {
  text-align: center;
  h2 { grid-column: 1 / 13; }
  .chat-items {
    grid-column: 1 / 7;
    p {
      span {
        animation-name: dotsAnimation;
        animation-duration: 2s;
        animation-iteration-count: infinite;

        &:nth-child(2){
          animation-delay: .5s;
        }
        &:nth-child(3){
          animation-delay: 1s;
        }
      }
    }
    ul {
      list-style-type: none;
      padding: 0;
    }
  }
  form {
    grid-column: 7 / 13;
    text-align: center;
    input {
      display: block;
      height: 2rem;
      margin: .5rem auto;
    }
    textarea {
      margin: 0 auto;
    }
    input, textarea {
      font-family: 'Ubuntu Mono', monospace;
      font-size: .9rem;
      width: 75%;
      padding: .25rem;
    }
  }
  .submit {
    font-size: 1rem;
    width: 9.5rem;
  }
}

footer {
  .beam-up a {
    color: #ff3f60;
  }
}
