@keyframes dotsAnimation {
  from { opacity: 0; }
  to { opacity: 100%; }
}

body {
  text-align: center;
  background: #0B0275;
}
h1 {
  margin-top: 4rem;
  grid-column: 1 / 13;
}
p {
  grid-column: 1/ 13;
}
